@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-list {
  overflow: visible;
}

@layer base {
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255))
      no-repeat;
  }

  .contact-gradient {
    background: linear-gradient(rgb(64, 50, 148), rgb(76, 154, 255)) no-repeat;
  }
}

@layer components {
  .btn {
    @apply bg-blue-light inline-block px-4 py-3 rounded-md text-white text-sm transition-colors duration-200 hover:bg-blue-medium;
  }
}
